body 
{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    height: 100vh;
    font-family: sans-serif;
    background-color: #eee;
    background-image: url("https://assets.wanikani.com/assets/default-v2/bg-texture-f915951af4e4baa78c241cff9ae477176056f54f669ff024c261eb1b08eb31e5.png");
}

.top 
{
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    background-color: #fafafa;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.top-container
{
    padding: 0rem 1rem;
    width: 750px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pfp 
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
}

#level 
{
    position: absolute;
    color: gray;
    bottom: 0;
}

#logout
{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: black;
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#range 
{
    width: 13rem;
}

#levels 
{
    text-align: center;
}

#go 
{
    background-color: white;
    color: #0af;
    padding: 0.6rem 0;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    margin-left: auto;
    font-weight: bold;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
}

#go:hover 
{
    text-decoration: underline 1px;
    text-underline-position: under;
}

#summary 
{
    position: absolute;
    background-color: white;
    width: 20rem;
    padding-bottom: 2rem;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    display: none !important;
}

#summary > h2
{
    text-align: center;
}

#summary > p 
{
    text-align: center;
}

#summary > p > b 
{
    color: rgb(255, 221, 26);
}

#close 
{
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.levels 
{
    background: linear-gradient(#00aaff, #0093dd);
    padding: 0.75rem;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    color: white;
}

.flex > img 
{
    max-width: 50%;
    width: 50%;
    scale: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#levels 
{
    color: white;
}

#range
{
    margin-top: 0.5rem;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main 
{
    margin-top: 1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

main > div 
{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    row-gap: 1rem;
}

.banana_container
{
    background-color: #F4F4F4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.banana 
{
    width: calc(90% - 1rem);
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-left: 1.5rem;
}

.sub 
{
    width: 400px;
    margin: none;
    margin-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.flex 
{
    display: flex;
}

.flex > div 
{
    width: 50%;
    padding-left: 1rem;
}

.flex > div > p 
{
    font-size: 16px;
}

.flex > div > h2 
{
    font-weight: 500;
    margin-bottom: -1rem;
    font-size: 24px;
}

@media (max-width: 820px) 
{
    main 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main > div 
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .levels 
    {
        width: 300px;
    }

    #welcome 
    {
        font-size: 1rem;
    }

    .banana_container
    {
        width: 300px;
        padding: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .banana
    {
        width: calc(300px - 1.5rem) !important;
    }

    body 
    {
        display: block;
    }

    #logout
    {
        position: static;
        padding: 0.5rem 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
    }

    #level 
    {
        position: relative;
        text-align: center;
    }
}