body 
{
    /* take up all available screen space */
    margin: 0;
    height: 100vh;

    /* set default font */
    font-family: sans-serif;
}

section 
{
    /* take up all available screen space */
    width: 100%;
    height: 100%;

    /* ensure sections stay fixed in place */
    position: absolute;
    top: 0;
}

.login 
{
    background-color: #00a1fa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel
{
    background-color: white;
    padding: 3rem;
    border: 1px solid black;
}

.panel > h1 
{
    margin: 0;
}

.panel > input 
{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.panel > button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main
{
    background-color: red;
}