/*
    Noel Nimstad
    2023/11/26 : 2023/11/27
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body 
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    position: fixed;
    overflow-y: hidden;
}

canvas.box
{
    background: url("./box.svg");
    background-size: cover;
}

.canvas 
{
    display: flex;
    justify-content: center;
}

.canvas > div 
{
    position: relative;
}

.buttons 
{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
}

.tools
{
    color: black;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    text-align: left;
    background: none;
}

.range 
{
    width: calc(100vw - 8rem);
    padding: 0rem 4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.prompt 
{
    font-size: 2rem;
    text-align: center;
}

span.font 
{
    font-family: 'Noto Serif JP', serif;
}

.start
{
    color: black;
    background-color: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border-bottom: 1px solid black;
}

.score 
{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.correctDiagram
{
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 256px;
    opacity: 0.1;
    user-select: none;
    z-index: -10000;
}

.correctDiagram > svg 
{
    width: 100%;
    height: 100%;
}

main 
{
    display: none;
}

h1 
{
    font-size: 2.5rem;
    color: #00a1fa;
}

.slider
{
    width: 90%;
    background-color: white;
}

h3 
{
    margin-top: -1.5rem;
    color: gray;
}

.footnote
{
    padding: 1rem 4rem;
    position: absolute;
    bottom: 2rem;
    font-size: 0.8rem;
    color: gray;
}

a 
{
    color: #00a1fa;
}